#container {
    border: 1px solid black;
    text-align: center;
    height: 100%;
}

#header {
    border: 1px solid black;
    height: 120px;
    font-size: 90px;
    color:whitesmoke;
    font-family: magneto;
    //text-align: center;
    background-color: indianred;
    
}

#mainContent {
    border: 1px solid black;
    height: 580px;
    font-size: 30px;
    font-family: Berlin Sans FB;

}
       
#footer {
    border: 1px solid black;
    height: 40px;
    font-size:12px;
    color:whitesmoke;
    text-align: center;
    background-color: indianred;
}

.imagesection {
    display: none;
}
.defaultimagearea {
    display: block;
}
